package layout

templ Footer(){
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Ідея та реалізація: <a href="https://www.linkedin.com/in/rostyslav-pylypiv/" target="blank">Ростислав Пилипів</a></span>
            </div>
        </div>
    </footer>
}