package layout

templ Footer(){
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Contacts: <a href="https://www.linkedin.com/in/rostyslav-pylypiv/" target="_blank">LinkedIN</a> <a href="https://t.me/rostis232" target="_blank">Telegram</a></span>
            </div>
        </div>
    </footer>
}